<div class="col-12 bd-content">
  <h2>New Task</h2>
  <div class="form-inline mb-2">
    <label class="mr-2">Add new task:</label>
    <input class="form-control mr-sm-2">
    <a class="btn btn-primary">Create</a>
  </div>
  <h2>All Tasks</h2>
  <!--<div class="row">-->
  <!-- TODO: FIX CARD-COLUMN annoying moving of cards when pressing edit -->
  <div class="full-width-div card-columns">
    <div *ngFor="let task of tasks">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ task.name }}</h4>
          <p class="card-text" *ngIf="task.description">{{task.description}}</p>
          <!--<div class="form-group row">-->
          <!--<label class="col-6 col-form-label">Id:</label>-->
          <!--<div class="col-6">-->
          <!--<input *ngIf="task.edit" [(ngModel)]="task.id" placeholder="id" class="form-control">-->
          <!--<label class="col-form-label" *ngIf="!task.edit">{{task.id}}</label>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group row" *ngIf="task.edit">
            <label class="col-6 col-form-label">Name:</label>
            <div class="col-6">
              <!-- TODO: Min Length -->
              <input *ngIf="task.edit" [(ngModel)]="task.name" placeholder="name" class="form-control" maxlength="50">
              <label class="col-form-label" *ngIf="!task.edit">{{task.name}}</label>
            </div>
          </div>
          <div *ngIf="task.edit" class="form-group row">
            <label class="col-6 col-form-label">Description:</label>
            <div class="col-6">
              <textarea *ngIf="task.edit" [(ngModel)]="task.description" placeholder="desc" class="form-control" maxlength="255"></textarea>
              <label class="col-form-label" *ngIf="!task.edit">{{task.description}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Start:</label>
            <div class="col-6">
              <input *ngIf="task.edit" type="datetime-local" [(ngModel)]="task.startTime" placeholder="startTime" class="form-control">
              <label class="col-form-label" *ngIf="!task.edit">{{task.startTime}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Ende:</label>
            <div class="col-6">
              <!-- TODO: Date Picker -->
              <input *ngIf="task.edit" type="datetime-local" [(ngModel)]="task.endTime" placeholder="endTime" class="form-control">
              <label class="col-form-label" *ngIf="!task.edit">{{task.endTime}}</label>
            </div>
          </div>
          <div class="form-group row" *ngIf="task.location">
            <label class="col-6 col-form-label">Ort:</label>
            <div class="col-6">
              <input *ngIf="task.edit" [(ngModel)]="task.location" placeholder="location" class="form-control" maxlength="50">
              <label class="col-form-label" *ngIf="!  task.edit">{{task.location}}</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 col-form-label">Done:</div>
            <div class="col-6 col-form-label">
              <div class="form-check">
                <label class="">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input form-check-input" [(ngModel)]="task.done"
                           placeholder="done" [disabled]="!task.edit">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{task.done}}</span>
                  </label>
                  <!--<input class="form-check-input" type="checkbox">{{task.done}}-->
                </label>
              </div>
              <!--<label class="form-label" *ngIf="!task.edit">{{task.done}}</label>-->
            </div>
          </div>

          <a (click)="task.edit = !task.edit" class="btn btn-primary">Edit</a>
          <a class="btn btn-primary">Delete</a>
          <p class="card-text">
            <small class="text-muted">Created {{task.created_on}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


